:root{
    --card-bg: #1e293b;
    --primary-light: #2d4f86;
    --bg: #0d1727;
}

article{
    background-color: var(--card-bg);
    padding: 2rem;
    margin-bottom: 16px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.5);

    svg{
        color: var(--primary-light);
        background: var(--bg);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 18px;
    }
}

