:root {
  --card-bg: #1e293b;
  --primary-light: #2d4f86;
  --bg: #0d1727;
  --text-muted: #9e9e9e;
}

article {
  background-color: var(--card-bg);
  padding: 2rem;
  margin-bottom: 16px;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 0px rgb(0, 0, 0, 0.5);

  svg {
    color: var(--primary-light);
    background: var(--bg);
    width: 64px;
    height: 64px;
    border-radius: 100%;
    padding: 18px;
  }

  p {
    color: var(--text-muted);
  }

  h3 {
    font-weight: 500;
  }
}

main > section:nth-child(3) footer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (width >= 640px) {
  main > section:nth-child(3) footer {
    grid-template-columns: 1fr 1fr;
  }
}
