body
{
    margin: 0;
    padding: 0;
}

body > header:first-child{
    background: red;
    box-sizing: border-box;
    width: 95vw; /* Put VW brings out the
    horizontal scroll bar, something that I dont
    want */
    padding: 0%;
    margin: 0;
}

.us
{

}

