body
{
    margin: 0;
    padding: 0;
}

body > header:nth-child(1){
    background: rgb(100 200 120/ 1);
    box-sizing: border-box;
    width: 95vw; /* Put 100VW brings out the
    horizontal scroll bar, something that I dont
    want */
    padding: 0%;
    margin: 0;
    border-radius: 0.2rem;
}

.product header{
    background: rgb(100 200 120/ 1);
    padding: 0%;
    margin: 0;
    border-radius: 0.55rem;
    width: 60vw;
}

.product footer{
    background: rgb(100 200 120 / 0.52);
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 85vw;
}


.us header{
    background: rgb(100 200 120/ 1);
    padding: 0%;
    margin: 0;
    border-radius: 0.55rem;
    width: 60vw;
}

.us footer{
    background: rgb(100 200 120 / 0.52);
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
}

.us footer > article{
    background: rgb(100 200 120 / 0.7);
    box-sizing: border-box;
    margin: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

@media (width >= 500px ) {
    .us footer{
        grid-template-columns: 1fr 1fr;
        gap: 0rem;
    }
}

.contactus header{
    background: rgb(100 200 120/ 1);
    padding: 0%;
    margin: 0;
    border-radius: 0.55rem;
    width: 60vw;
}

.contactus footer{
    background: rgb(100 200 120 / 0.52);
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
}

.contactus footer > article{
    background: rgb(100 200 120 / 0.7);
    box-sizing: border-box;
    margin: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

@media (width >= 500px ) {
    .contactus footer{
        grid-template-columns: 1fr 1fr;
        gap: 0rem;
    }
}

body footer{
    background: rgba(96, 207, 119, 0.952);
    margin-top: 3rem;
}